@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Color */
    --clr-dark-cyan: hsl(185, 75%, 39%); /* background */
    --clr-dark-blue: hsl(229, 23%, 23%); /* headings */
    --clr-grayish-blue: hsl(227, 10%, 46%); /* body */
    --clr-dark-gray: hsl(0, 0%, 59%); /* line */
    --clr-white: hsl(255, 100%, 100%); /* card bg */

    /* Font */
    --ff-primary: 'Kumbh Sans', sans-serif;
    --fw-regular: 400;
    --fw-bold: 700;
    --fs-primary: 1.125rem; /* Name and stats */
    --fs-secondary: 0.75rem;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: var(--ff-primary);
    font-size: var(--fs-primary);
    background-color: var(--clr-dark-cyan);
    background-image: url('./images/bg-pattern-top.svg'), url('./images/bg-pattern-bottom.svg');
    background-repeat: no-repeat no-repeat;
    background-position: right 50vw bottom 44vh, left 50vw top 45vh;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

main {
    background-color: var(--clr-white);
    width: 100%;
    max-width: 21.875rem;
    border-radius: 0.625rem;
    overflow: hidden;
    box-shadow: 0 0 0.625rem 0.125rem hsl(229, 23%, 23%, 0.2);
}

.profile {
    position: relative;
}

.profile picture img {
    border: 0.25rem solid var(--clr-white);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    bottom: -3rem;
    transform: translateX(-50%);
}

.name {
    text-align: center;
    margin: 5rem 0 1.25rem 0;
}

.name h1 {
    color: var(--clr-dark-blue);
    font-size: var(--fs-primary);
    font-weight: var(--fw-bold);
}

.name span {
    color: var(--clr-dark-gray);
    font-weight: var(--fw-regular);
    margin-left: 0.313rem
}

.name p {
    color: var(--clr-dark-gray);
    font-weight: var(--fw-regular);
    margin-top: 0.938rem;
}

.stats {
    border-top: 0.125rem solid hsl(227, 10%, 46%, 0.1);
    padding: 1.25rem 2.5rem;
}

.stats ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stats ul li {
    font-size: var(--fs-primary);
    font-weight: var(--fw-bold);
    color: var(--clr-dark-blue);
    text-align: center;
}

.stats ul li span{
    display: block;
    font-size: var(--fs-secondary);
    font-weight: var(--fw-regular);
    color: var(--clr-grayish-blue);
    letter-spacing: 0.125rem;
    margin-top: 0.313rem;
}
