@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
    /* Color */
    --clr-dark-blue: hsl(216, 12%, 8%);
    --clr-medium-blue: hsl(215, 22%, 15%);
    --clr-blue: hsl(213, 19%, 18%);
    --clr-gunmetal: hsl(209, 28%, 19%);
    --clr-medium-gray: hsl(216, 12%, 54%);
    --clr-light-gray: hsl(217, 12%, 63%);
    --clr-orange: hsl(25, 97%, 53%);
    --clr-white: hsl(0, 0%, 100%);

    --ff-primary: 'Overpass', sans-serif;
    --fw-bold: 700;
    --fw-regular: 400;
    --fs-heading: var(--fw-bold) 2.4rem var(--ff-primary);
    --fs-heading-desktop: var(--fw-bold) 2.8rem var(--ff-primary);
    --fs-body: var(--fw-regular) 1.4rem/2.2rem var(--ff-primary);
    --fs-body-desktop: var(--fw-regular) 1.5rem/2.4rem var(--ff-primary);
}

body {
    font-family: var(--ff-primary);
    background: var(--clr-dark-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* Ratings page styles */

.rating-container {
    background: var(--clr-medium-blue);
    width: clamp(32.7rem, 24.5893rem + 21.6285vw, 41.2rem);
    border-radius: 1rem;
    padding: clamp(2.4rem, 1.2550rem + 3.0534vw, 3.6rem);
}

.rating-star {
    background-color: var(--clr-gunmetal);
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rating-star__image {
    width: 1.4rem;
}

.rating-heading {
    font: var(--fs-heading);
    color: var(--clr-white);
    margin-top: 1.6rem;
}

.rating-body {
    font: var(--fs-body);
    color: var(--clr-light-gray);
    margin-top: 1.6rem;
}

.rating-score {
    margin-block: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rating-number {
    font: var(--fs-body);
    color: var(--clr-light-gray);
    background: var(--clr-gunmetal);
    border-radius: 50%;
    width: clamp(4.2rem, 3.3412rem + 2.2901vw, 5.1rem);
    height: clamp(4.2rem, 3.3412rem + 2.2901vw, 5.1rem);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 300ms ease;
}

.rating-number:hover {
    color: var(--clr-white);
    background: var(--clr-orange);
}

.rating-number.active {
    color: var(--clr-white);
    background: var(--clr-medium-gray);
}

.rating-btn {
    font: var(--fs-body);
    letter-spacing: 0.187rem;
    text-transform: uppercase;
    padding: 1.2rem 10.8rem;
    background: var(--clr-orange);
    color: var(--clr-white);
    border-radius: 3rem;
    width: 100%;
    transition: 300ms ease;
    margin-bottom: 0.6rem;
}

.rating-btn:hover {
    color: var(--clr-orange);
    background: var(--clr-white);
}

/* Thank you page styles */

.rating-thankyou {
    text-align: center;
}

.rating-thankyou__image {
    margin-top: 1rem;
}

.rating-thankyou__selection {
    margin: 2.4rem auto;
    color: var(--clr-orange);
    font: var(--fs-body);
    border-radius: 3rem;
    background-color: var(--clr-gunmetal);
    width: 16.8rem;
    padding: 0.5rem;
}

.rating-thankyou__heading {
    font: var(--fs-heading-desktop);
    color: var(--clr-white);
}

.rating-thankyou__body {
    font: var(--fs-body-desktop);
    color: var(--clr-light-gray);
    margin-top: 1.6rem;
    margin-bottom: 1.3rem;
}

/* Utility */

.hidden {
    display: none;
}