@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap');

:root {
    /* Colors */
    --clr-dark-blue: hsl(233, 53%, 16%);
    --clr-soft-blue: hsl(234, 25%, 52%);
    --clr-gray: hsl(232, 10%, 56%);
    --clr-dark-pink: hsl(341, 92%, 62%);
    --clr-light-pink: hsl(341, 100%, 83%);
    --clr-white: hsl(0, 0%, 100%);
    
    /* Gradients */
    --grad-pink: linear-gradient(to bottom, hsl(13, 100%, 64%), hsl(322, 87%, 55%));
    --grad-pink-hover: linear-gradient(to bottom, hsl(13, 100%, 82%), hsl(322, 88%, 78%));
    --grad-purple: linear-gradient(to bottom, hsl(237, 100%, 64%), hsl(322, 87%, 55%));
    --grad-purple-hover: linear-gradient(to bottom, hsl(265, 72%, 79%), hsl(322, 88%, 78%));
    --grad-blue: linear-gradient(to bottom, hsl(0, 0%, 100%), hsl(234, 100%, 97%));


    /* Fonts */
    --ff-primary: 'Plus Jakarta Sans', sans-serif;
    --fw-medium: 500;
    --fw-bold: 700;
    --fw-extra-bold: 800;
    
    --heading-xl: var(--fw-extra-bold) 5.6rem/7.0rem var(--ff-primary);
    --heading-l: var(--fw-extra-bold) 4rem/5.1rem var(--ff-primary);
    --heading-m: var(--fw-extra-bold) 2.4rem/3.2rem var(--ff-primary);
    --heading-s: var(--fw-extra-bold) 2rem var(--ff-primary);
    --body-m: var(--fw-medium) 1.8rem/2.8rem var(--ff-primary);
    --body-m-b: var(--fw-bold) 1.8rem/2.8rem var(--ff-primary);
    --body-s: var(--fw-medium) 1.6rem/2.8rem var(--ff-primary);
}

body {
    font-family: var(--ff-primary);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header, footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.6rem;
}

img {
    max-width: 100%;
    height: auto;
}

.header-logo, .footer-logo {
    width: 8.9rem;
}

/* Buttons */
.btn {
    font: var(--body-s);
    color: var(--clr-white);
    padding: 1rem 2.5rem;
    border-radius: 3rem;
    transition: 0.3s ease;
    z-index: 1;
}

.btn-solid-blue {
    background-color: var(--clr-dark-blue);
}

.btn-solid-blue:hover {
    background-color: var(--clr-soft-blue);
    color: var(--clr-white);
}

.btn-grad-pink {
    background-image: var(--grad-pink);
    padding: 1.8rem 3.8rem;
}

.btn-grad-pink:hover {
    color: var(--clr-white);
    background-image: var(--grad-pink-hover);
}

.btn-grad-purple {
    background-image: var(--grad-purple);
}

.btn-grad-purple:hover {
    color: var(--clr-white);
    background-image: var(--grad-purple-hover);
}

/* Hero Section */

.hero {
    padding: 0 1.6rem;
}

.hero-text {
    margin: 3.3rem 0 4.6rem;
}

.hero-text > h1 {
    font: var(--heading-l);
    color: var(--clr-dark-blue);
    margin-bottom: 2rem;
}

.hero-text > p {
    font: var(--body-s);
    color: var(--clr-gray);
    margin-bottom: 3.4rem;
}

/* Card Section */

.cards {
    background-image: var(--grad-blue);
    padding: 0 1.6rem 4rem;
}

.card {
    background-color: var(--clr-white);
    border-radius: 1rem;
    padding: 5.6rem 2rem 3.2rem;
    margin-bottom: 4rem;
    position: relative;
}

.card-highlight {
    background-image: var(--grad-pink);
    color: var(--clr-white);
    font: var(--heading-m);
    padding: 2.4rem 2.8rem;
}

.card-icon {
    background-image: var(--grad-pink);
    border-radius: 50%;
    width: 5.6rem;
    height: 5.6rem;
    position: absolute;
    top: -8%;
}

.card-heading {
    font: var(--heading-s);
    color: var(--clr-dark-blue);
}

.card-body {
    font: var(--body-m);
    color: var(--clr-gray);
    margin: 2.4rem 0;
}

.card-link {
    font: var(--body-m-b);
    color: var(--clr-dark-pink);
    transition: 0.3s ease;
}

.card-link:hover {
    color: var(--clr-light-pink);
}

/* Footer */

.footer-dark {
    background-color: var(--clr-dark-blue);
    padding: 3.6rem 1.6rem;
}


/* Media Query */

@media screen and (min-width: 768px) {
    header {
        padding: 3.9rem;
    }

    .header-logo, .footer-logo {
        width: 11.2rem;
    }

    .hero {
        padding: 0 3.9rem 18rem;
    }

    .hero-text {
        width: 50%;
        margin: 5.8rem 0 4.6rem;
    }

    .hero-image {
        position: absolute;
        right: -40rem;
        top: -5rem;
    }

    .cards {
        padding: 0 3.9rem 4rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 1rem;
        margin-top: 17rem;
    }

    .card-highlight {
        padding: 5.6rem 2.8rem 0;
    }

    .footer-dark {
        padding: 3.6rem 3.9rem;
    }

}

@media screen and (min-width: 945px) {
    header {
        padding: 2.9rem 16.5rem;
    }

    .hero {
        padding: 0 16.5rem 30rem;
    }

    .hero-image {
        top: -15%;
        right: -42%;
    }

    .cards {
        padding: 0 16.5rem 4rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 3rem;
        margin-top: 3rem;
    }

    .footer-dark {
        padding: 3.8rem 16.5rem;
    }

}

@media screen and (min-width: 1096px) {
    .hero-image {
        top: -5%;
        right: -25%;
        max-width: 70%;
    }
}

@media screen and (min-width: 1440px) {
    .hero-image {
        top: -12%;
        right: -18%;
        width: 100rem;
    }
}